ul {
    list-style-type: none;
    margin: 0px;
    
}

.menu {
    background: #0078BA;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.submenu {
    height: 130px;
    background: #0078BA;
    
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.menu div button{
    color: #FFFFFF;
    font-size: 16px;
}
.menu_final{
    background-color: black;
    color: #FFFFFF;
    padding: 25px;
    width: 1542px;
}
.ifFuter_final{
    width: 100%;
    height: 120px;
    padding: 0px;
}