.ifFuter{
    width: 1530px;
    height: 194.39px;
    padding: 0px;
}
.publicidad {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
}

.row{
    width: 1530px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_inferior{
    width: 250px;
    padding: 0px;
    border-radius: 20px;
    background: #0078BA;
    margin: 0px 75px 25px 75px;
}
.boton_menu_i{
    background: #0078BA;
    border-radius: 20px;
    border: #0078BA;
    padding: 0px;
    width: 250px;
    font-size: 18px;
    color: #FFFFFF;
}
.submenu_inferior{
    background-color: #E7ECE9;
    padding-top: 25px;
}
.ifFuter_final{
    width: 1530px;
    height: 98px;
    padding: 0px;
}